@charset "UTF-8";
/*BOJE:
    plava pozadina: #173963;
    siva pozadina: #f2f5f7;
    plavi tekst: #234167;
    crveni tekst: #ec1d24;
    boja teksta mailova: #2872fa;
    senka kod često postavljenih pitanja: #00000026;

WEB FONTOVI:
    Sans-Serif*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

.banner {
  background-color: #173963;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.container-nav {
  width: 100%;
  background-color: #f2f5f7;
}

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  color: #234167;
  font-weight: bold;
  font-size: 1.2rem;
}
.nav ul {
  display: flex;
  gap: 20px;
}
.nav ul li {
  transition: 0.5s ease-in-out;
}
.nav ul li:hover {
  color: #ec1d24;
  cursor: pointer;
}
.nav .logo {
  width: 150px;
  height: 50px;
}

.hero {
  background-image: url(/images/VozPozadina.webp);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.hero .hero-menu {
  background-color: white;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  height: 340px;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}
.hero .hero-menu .prodaja {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(/images/ProdajaKarata.webp);
  width: 300px;
  height: 300px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.hero .hero-menu .prodaja:hover {
  transform: translateY(-10px);
}
.hero .hero-menu .red-voznje {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(/images/RedVoznje.webp);
  width: 300px;
  height: 300px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.hero .hero-menu .red-voznje:hover {
  transform: translateY(-10px);
}

.popular-container {
  background-color: #f2f5f7;
  width: 100%;
  height: 50vh;
}

.popular-head {
  width: 90%;
  margin: 0 auto;
  color: #234167;
  padding-top: 50px;
  padding-bottom: 20px;
}

.popular-img {
  display: flex;
  justify-content: space-around;
}
.popular-img .cities img {
  border-radius: 8px;
  transition: 1s ease-in-out;
}
.popular-img .cities img:hover {
  transform: scale(1.1);
}
.popular-img .cities h3 {
  color: #234167;
}
.popular-img .cities p {
  color: gray;
  transition: 1s ease-in-out;
  display: block;
}
.popular-img .cities p:hover {
  transform: rotateY(360deg);
}
.popular-img .cities p span {
  color: #ec1d24;
  font-weight: bold;
}

.txt-box {
  display: flex;
  gap: 10px;
  margin: 20px;
}
.txt-box .levi {
  width: 30%;
  border-right: 1px solid #173963;
  padding-left: 30px;
}
.txt-box .levi h4 {
  color: #234167;
  padding: 20px 0;
}
.txt-box .levi p {
  padding: 15px 0;
}
.txt-box .levi .blue {
  color: #2872fa;
  font-weight: bold;
}
.txt-box .desni {
  width: 70%;
  color: #234167;
}
.txt-box .desni h4 {
  padding: 20px 10px;
}
.txt-box .desni p {
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 0px #00000026;
  font-weight: bold;
  transition: 0.5s ease;
}
.txt-box .desni p:hover {
  color: #ec1d24;
  cursor: default;
}

.footer {
  background-color: #173963;
  padding: 20px;
  position: relative;
}
.footer span {
  color: white;
  padding: 20px;
}
.footer .credits {
  position: absolute;
  right: 10px;
  top: 1px;
}

@media screen and (max-width: 1024px) {
  .hero-menu {
    margin: 0 50px;
    flex-grow: 2;
  }
  .hero-menu div {
    flex-grow: 2;
  }

  .popular-container .popular-head h1 {
    font-size: 18px;
  }
  .popular-container .popular-img .cities img {
    width: 150px;
  }

  .txt-box {
    flex-direction: column-reverse;
  }
  .txt-box .levi {
    width: 100%;
    border-right: none;
    border-top: 1px solid #173963;
  }
  .txt-box .desni {
    width: 100%;
  }

  .footer {
    padding: 20px;
  }
  .footer .credits {
    padding-top: 25px;
    top: 70%;
    left: 50%;
  }
}
@media screen and (max-width: 600px) {
  .hero-menu {
    flex-direction: column;
  }

  .popular-container {
    height: 150vh;
  }

  .popular-img {
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 3;
  }
  .popular-img .cities img {
    width: 500px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer span {
    width: 50%;
  }
  .footer .credits {
    right: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
