/*BOJE:
    plava pozadina: #173963;
    siva pozadina: #f2f5f7;
    plavi tekst: #234167;
    crveni tekst: #ec1d24;
    boja teksta mailova: #2872fa;
    senka kod često postavljenih pitanja: #00000026;

WEB FONTOVI:
    Sans-Serif*/ 

$blue-bg: #173963;
$gray-bg:#f2f5f7;
$blue-txt:#234167;
$red-txt:#ec1d24;
$mail-txt:#2872fa;
$shadow:#00000026;

